%script{type: "text/javascript", src: "javascript/user.js"}
.user_master_container
  .officer
    Innovate Officers
  / .user_wrapper
  .user_container
    %img.rotate#1{src: "#{image_path('sl.jpg')}"}
    .user_container-text#1B
      TESTTESTTEST
  .user_container
    %img.rotate#2{src: "#{image_path('sl.jpg')}"}
  .user_container
    %img.rotate{src: "#{image_path('sl.jpg')}"}
  .user_container
    %img.rotate{src: "#{image_path('sl.jpg')}"}
  .user_container
    %img.rotate{src: "#{image_path('sl.jpg')}"}
  %br
  %br
