/ House image
.master_container
  %nav{class: "navbar navbar-default navbar-inverse navbar-border", role: "navigation"}
    / Logo
    .navbar-logo
      %img{src:"assets/logo.png"}
    /Nav

    .navbar-content
      %ul{class: "nav navbar-nav navbar-text"}
        %li{class: "#{' navbar-active' if current_page?(root_path) or current_page?(home_path)}"}
          =link_to "Home", home_path, {"data-no-turbolink" => "true"}
        / %li{class: "#{' navbar-active' if current_page?(about_path)}"}
        /   =link_to "About", about_path
        %li{class: "#{' navbar-active' if current_page?(about_path)}"}
          =link_to "About", about_path
        %li{class: "#{' navbar-active' if current_page?(users_path)}"}
          =link_to "People", users_path
        / %li{class: "#{' navbar-active' if current_page?(fellow_path)}"}
        /   =link_to "Faculty Fellows", fellow_path
        %li{class: "#{' navbar-active' if current_page?(contact_path)}"}
          =link_to "Contact", contact_path
        %li{class: "#{' navbar-active' if current_page?(press_path)}"}
          =link_to "Press", press_path
        .navbar-content-social
          .footer_content-icon
            %i.icon-facebook-sign.icon-large
          .footer_content-icon
            %i.icon-twitter.icon-large
          .footer_content-icon
            %i.icon-linkedin.icon-large
