<!DOCTYPE html>
<html>
<head>
  <title>Innovate</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render 'layouts/headerimg' unless @disable_header %>
<%= render 'layouts/header' unless @disable_header %>
<%= yield %>

</body>
</html>
